.search{
    --padding: 14px;
    width: max-content;
    display: flex;
    flex: 1;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
}
.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}
.search-form{
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.container-files{
    display: flex;
    justify-content: flex-start;
    /*border-style: none;*/
    /*border-width: none;*/
    padding: 10px;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
}
footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f6f6f6;
   color: black;
   text-align: center;
    padding: 10px;
}
